.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form-title {
  margin: 0;
}

.form-row {
  display: flex;
  align-items: center;
}

.students {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.student {
  list-style: none;
  padding: 6px 12px;
  border: 1px solid rgba(120, 120, 120, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student:hover {
  background-color: rgba(120, 120, 120, 0.3);
  transition: 300ms;
  cursor: pointer;
}

.student-name {
  margin: 0;
}

/* ui-kit */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: rgba(120, 120, 120, 1);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(80, 80, 80, 1);
  padding: 4px 8px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(120, 120, 120, 0.8);
}

.input {
  border: 1px solid rgba(120, 120, 120, 1);
  border-radius: 2px;
  padding: 4px;
  background-color: whitesmoke;
  height: 26px;
  box-sizing: border-box;
  width: 100%;
}

.color-input {
  padding: 0;
  border: none;
  cursor: pointer;
}

.input-error {
  background-color: rgb(241, 177, 177);
}
