body {
    margin: 0;
  }

  .quote{
    box-sizing: border-box;
    background: radial-gradient(
      75.42% 75.42% at 50% 42.37%,
      rgba(53, 53, 53, 0) 22.92%,
      #5929b4 100%);
      filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
      border-radius: 20px;
      padding: 16px;
  }

  .container {
    font-family: Helvetica;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 200px;
    background: #202020;
    min-height: 100vh;
  }

  .comments,
  .comment {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .comment,
  .add-form {
    width: 596px;
    box-sizing: border-box;
    background: radial-gradient(
      75.42% 75.42% at 50% 42.37%,
      rgba(53, 53, 53, 0) 22.92%,
      #7334ea 100%
    );
    filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .comment {
    padding: 48px;
  }

  .comment-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .comment-footer {
    display: flex;
    justify-content: flex-end;
  }

  .comment-body {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .comment-text {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .like-button {
    all: unset;
    cursor: pointer;
  }

  .likes-counter {
    font-size: 26px;
    margin-right: 8px;
  }

  .like-button {
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M11.11 16.9482L11 17.0572L10.879 16.9482C5.654 12.2507 2.2 9.14441 2.2 5.99455C2.2 3.81471 3.85 2.17984 6.05 2.17984C7.744 2.17984 9.394 3.26975 9.977 4.75204H12.023C12.606 3.26975 14.256 2.17984 15.95 2.17984C18.15 2.17984 19.8 3.81471 19.8 5.99455C19.8 9.14441 16.346 12.2507 11.11 16.9482ZM15.95 0C14.036 0 12.199 0.882834 11 2.26703C9.801 0.882834 7.964 0 6.05 0C2.662 0 0 2.6267 0 5.99455C0 10.1035 3.74 13.4714 9.405 18.5613L11 20L12.595 18.5613C18.26 13.4714 22 10.1035 22 5.99455C22 2.6267 19.338 0 15.95 0Z' fill='%23BCEC30' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  .-active-like {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.95 0C14.036 0 12.199 0.882834 11 2.26703C9.801 0.882834 7.964 0 6.05 0C2.662 0 0 2.6267 0 5.99455C0 10.1035 3.74 13.4714 9.405 18.5613L11 20L12.595 18.5613C18.26 13.4714 22 10.1035 22 5.99455C22 2.6267 19.338 0 15.95 0Z' fill='%23BCEC30'/%3E%3C/svg%3E");
  }

  .add-form {
    padding: 20px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }

  .add-form-name,
  .add-form-text {
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 8px;
    border: none;
  }

  .add-form-name {
    width: 300px;
    padding: 11px 22px;
  }

  .add-form-text {
    margin-top: 12px;
    padding: 22px;
    resize: none;
  }

  .add-form-row {
    display: flex;
    justify-content: flex-end;
    gap: 150px;
  }

  .add-form-button {
    margin-top: 24px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #bcec30;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }

  .del-form-button {
    margin-top: 24px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #bcec30;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }

  .add-form-button:hover {
    opacity: 0.9;
  }

  .-active-like{
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.95 0C14.036 0 12.199 0.882834 11 2.26703C9.801 0.882834 7.964 0 6.05 0C2.662 0 0 2.6267 0 5.99455C0 10.1035 3.74 13.4714 9.405 18.5613L11 20L12.595 18.5613C18.26 13.4714 22 10.1035 22 5.99455C22 2.6267 19.338 0 15.95 0Z' fill='%23BCEC30'/%3E%3C/svg%3E");
  }


  .loading-container {
    width: 100%;
    max-width: 596px;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 0 32px;
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #fff;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      animation: movingLine 2.4s infinite ease-in-out;
    }
  }
  
  @keyframes movingLine {
    0% {
      opacity: 0;
      width: 0;
    }
  
    33.3%, 66% {
      opacity: 0.8;
      width: 100%;
    }
    
    85% {
      width: 0;
      left: initial;
      right: 0;
      opacity: 1;
    }
  
    100% {
     opacity: 0;
     width: 0;
    }
  }
  
  .loading-text {
    font-size: 5vw;
    line-height: 64px;
    letter-spacing: 10px;
    display: flex;
    justify-content: space-evenly;}
    .sp {
      animation: moveLetters 2.4s infinite ease-in-out;
      transform: translatex(0);
      position: relative;
      display: inline-block;
      opacity: 0;
      text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3); 
    }

  
  @for $i from 1 through 7 {
    .loading-text span:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
  
  @keyframes moveLetters {
    0% {
      transform: translateX(-15vw);
      opacity: 0;
    }
    
    33.3%, 66% {
      transform: translateX(0);
      opacity: 1;
    }
    
    100% {
      transform: translateX(15vw);
      opacity: 0;
    }
  }

  .hide{
    display: none;
  }

  .loader{
    margin-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    background: radial-gradient(
      75.42% 75.42% at 50% 42.37%,
      rgba(53, 53, 53, 0) 22.92%,
      #7334ea 100%
    );
    filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
  }

 

.comment_loader{
  height: 244px;
}

.comment__header_loader{
  height: 18px;
}

.comment__name_loader{
  width: 90px;
  background: #5728af;
}

.comment__date_loader{
  width: 110px;
  background: #5728af;
}

.comment__body_loader{
  height: 36px;
  background: #5728af;
}

.likes_loader{
  height: 30px;
}

.likes__counter_loader,
.like__button_loader{
width: 20px;
height: 30px;
margin-left: 5px;
background: #5728af;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -596px 0
  }
  100% {
    background-position: 596px 0
  }
}

.animated-background {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #401b83 ;
  background: linear-gradient(to right, #5728af 8%, #642dc9  18%, #5728af 33%);
  background-size: 596px 244px;
  position: relative;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);;
  }
  75% {
    transform: rotate(-30deg);;
  }
  to {
    transform: rotate(0deg);
  }
}

.loading-like {
  animation: rotating 2s linear infinite;
}